.m-logo {
  display: inline-block;
  height: 32px;

  img {
    width: auto;
    max-width: 150px;
    height: 100%;
    object-fit: contain;
  }

  &.in-mobile-topbar {
    margin: 0 $mobile-space;
  }
}

[data-theme='dark'] {
  .m-logo {
    img {
      filter: invert(1);
    }
  }
}
